<li id="{{ machine_id }}-main-collapsible" class="searchable">
    <div class="searchtags hide">
        machine:{{given_name}}
        user:{{ns_name}}
        {{taglist}}
    </div>
    <div class="collapsible-header ">
        <div class="col s8 m6">
            {{ status_badge }}
            <span class="truncate hover-container" id="{{ machine_id }}-name-container">
                {{ machine_id }}. {{ given_name }}
            </span>
        </div>
        <div class="col s4 m6 activator">
            {{ user_badge       }}
            {{ exit_node_badge  }}
            {{ expiration_badge }}
            {{ ha_route_badge   }}
        </div>
    </div>
    <div class="collapsible-body">
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle">settings</i>
                <span class="title">机器操作</span>
                <p class="hide-on-small-only">
                    <a href="#card_modal" onclick='load_modal_rename_machine( "{{ machine_id }}" )' class="modal-trigger waves-effect waves-light btn-small tooltipped"     data-tooltip="重命名该机器。">重命名</a>
                    <a href="#card_modal" onclick='load_modal_move_machine  ( "{{ machine_id }}" )' class="modal-trigger waves-effect waves-light btn-small tooltipped"     data-tooltip="将该机器移动到其他用户。">移动</a>
                    <a href="#card_modal" onclick='load_modal_delete_machine( "{{ machine_id }}" )' class="modal-trigger red waves-effect waves-light btn-small tooltipped" data-tooltip="删除该机器。">删除</a>
                </p>
                <p class="show-on-small hide-on-med-and-up hide-on-large-only hide-on-med-only">
                    <ul class="show-on-small hide-on-med-and-up hide-on-large-only hide-on-med-only">
                        <li><a href="#card_modal" onclick='load_modal_rename_machine( "{{ machine_id }}" )' class="modal-trigger waves-effect waves-light btn-small tooltipped"     data-tooltip="重命名该机器。">重命名</a></li>
                        <li><a href="#card_modal" onclick='load_modal_move_machine  ( "{{ machine_id }}" )' class="modal-trigger waves-effect waves-light btn-small tooltipped"     data-tooltip="将该机器移动到其他用户。">移动</a></li>
                        <li><a href="#card_modal" onclick='load_modal_delete_machine( "{{ machine_id }}" )' class="modal-trigger red waves-effect waves-light btn-small tooltipped" data-tooltip="删除该机器。">删除</a></li>
                    </ul>
                </p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">domain</i>
                <span class="title">主机名</span>
                <p> {{ hostname }} </p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">language</i>
                <span class="title">用户</span>
                <p id="{{ machine_id }}-user-container">{{ ns_name }}</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">network_wifi</i>
                <span class="title">IP 地址</span>
                <p>{{ machine_ips}}</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">access_time</i>
                <span class="title">最后在线</span>
                <p>{{ last_seen_time}}</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">update</i>
                <span class="title">最后更新</span>
                <p>{{ last_update_time }}</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">history</i>
                <span class="title">创建时间</span>
                <p>{{ created_time }}</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">hourglass_empty</i>
                <span class="title">过期时间</span>
                <p>{{ expiry_time }}</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">key</i>
                <span class="title">预授权密钥前缀</span>
                <p>{{ preauth_key }}</p>
            </li>
            {{ advertised_routes }}
            {{ machine_tags }}
        </ul>
    </div>
</li>
